# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore .env file
.env
llama_venv

__pycache__/
.DS_Store

# Model weights, too large for git
mlx_model 
CodeLlama-7b

